<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Title</title>
</head>
<body style="background-color: #FFF8E7">

<form th:action="${'/teacher-save'}" method="post">
  <input type="text" name="surname" placeholder="Фамилия">
  <input type="text" name="name" placeholder="Имя">
  <input type="text" name="middlename" placeholder="Отчество">
  <input type="text" name="lessons" placeholder="Предметы">
  <input type="text" name="graphic" placeholder="График работы">
  <button type="submit">Добавить</button>
</form>

</body>
</html>