<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #FFF8E7">
    <header th:insert="blocks/firstShablon"></header>
    <div align="center">
        <h1 style="margin: 20px">Авторизация</h1>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name: <input type="text" name="username" class="pole"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="pole"/> </label></div>
            <div><input type="submit" value="Login"/></div>
        </form>
    </div>
</body>

<style>
    .pole{
        margin: 10px;
        width: 250px;
    }
    h1{
        color: #111;
        font-family: ‘Helvetica Neue’, sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
    }
</style>

</html>