<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #FFF8E7">
    <header th:insert="blocks/firstShablon"></header>
    <div align="center">
        <h1 style="margin: 20px">Регистрация</h1>

        <div th:if="${#messages}">
            <p th:text="${message}"></p>
        </div>
        <form th:action="@{/registration}" method="post">
            <div><label> User Name : <input type="text" name="username" class="pole"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="pole"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>

    </div>
</body>

<style>
    .pole{
        margin: 10px;
        width: 250px;
    }
    h1{
        color: #111;
        font-family: ‘Helvetica Neue’, sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
    }
</style>

</html>