<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>JP2</title>
</head>
<body style="background-color: #FFF8E7">
<!--    <header th:insert="blocks/shablon"></header>-->
<table align="center">
    <thead>
    <td>
        <tr><h1>Преподаватели</h1></tr>
        <tr><h2><a href="/teachers-search">Найти</a></h2></tr>
    </td>
    </thead>
    <tbody>
    <td>
        <tr th:each="el : ${teachers}">
            <h2 th:text="${el.surname}" style="display: inline-block"></h2>
            <h2 th:text="${el.name}" style="display: inline-block"></h2>
            <h2 th:text="${el.middlename}" style="display: inline-block"></h2>
            <h2 th:text="'Предметы: '+${el.lessons}"></h2>
            <h2 th:text="'График работы - '+${el.graphic}"></h2>
        </tr>
    </td>
    </tbody>
    <tfoot>
    <td>
        <tr style="text-align: center"><h2><a href="/add-teacher">Добавить преподавателя</a></h2></tr>
    </td>
    </tfoot>
</table>
</body>
</html>